<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../asset/Icon/Sign in.png">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../style/main.css">
    <title>Sign in</title>
</head>
<body>
    <header>
        <div class="header-center">
            <img src="../asset/Icon/Zestylicious-removebg-preview.png" alt="Zestylicious">
            <h1>ZESTYLICIOUS</h1>
        </div>
        <div class="search">
            <div class="search-bar">
                <input type="search" placeholder="Search" >
                <i class='bx bx-search'></i>
            </div>
            <a href="/Component/loing.html" target="_blank"><i class='bx bx-user' ></i></a>
        </div>
    </header>
    <nav>
        <a href="/index.html">Home</a>
        <a href="/Components/shop.html">Shop</a>
        <a href="/Components/about.html">About</a>
        <a href="../Components/contact.html">Contact</a>
    </nav>
    <div class="holder">
        <div class="login-container">
            <h1>Sign in</h1>
            <form>
                <input type="email" placeholder="Mobile number or email or username" required>
                <input type="password" placeholder="Password" required minlength="10">
                <div class="options">
                    <span>Forgot password?</span>
                </div>
                <button type="submit">Login</button>
                <p class="options-1">
                    Don't have an account? <a href="#">Sign up</a>
                    <p style="color: white;"><ins>Privacy Policy</ins> and <ins>Terms of Service</ins></p>
                </p>
            </form>
        </div>
    </div>
    <footer>
        <div class="footer-one">
            <div class="footer-1">
                <img src="../asset/Icon/Zestylicious-removebg-preview.png" alt="Zestylicious">
                <h3>Zestylicious</h3>
            </div>
            <div class="footer-2">
                <h3>Menu</h3>
                <p>Khmer Food</p>
                <p>National food</p>
                <p>Drink</p>
                <p>Wine</p>
                <p>Juice</p>
            </div>
            <div class="footer-3">
                <h3>Chef</h3>
                <p>Sochhiet</p>
                <p>Yeanseu</p>
                <p>Sovanarith</p>
                <p>Sopeak</p>                
            </div>
            <div class="footer-4">
                <h3>Social Media</h3>
                <a href="#" target="_blank" class="footer-icon"><i class='bx bxl-telegram'></i></a>
                <a href="#" target="_blank"  class="footer-icon"><i class='bx bxl-facebook' ></i></a>
                <a href="#" target="_blank"  class="footer-icon"><i class='bx bxl-twitter'></i></a>
                <a href="#" target="_blank"  class="footer-icon"><i class='bx bxl-youtube' ></i></i></a>
            </div>
            <div class="footer-5">
                <h3>Contact US</h3>
                <input type="search" placeholder="Message">
                <button class="Send">Send</button>
            </div>
        </div>
        <div class="footer-two">
            <p>© 2024 Zestylicious. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
